<div id="reportLandslideFragment" class="monospace-font">

    <form action="" id="reportLandSlide">
        <div class="formSegmentsMargin">
            <label for="picture">Upload Picture of landslide</label>
            <input type="file" id="picture" name="picture" placeholder="Upload picture..">
        </div>

        <div class="formSegmentsMargin">
            <label for="coordinates">Landslide Location Coordinates</label>
            <input type="number" id="latitude" step="0.01" name="latitude" placeholder="Latitude of landslide area">
            <input type="number" id="longitude" step="0.01" name="longitude" placeholder="Longitute of landslide area">
            <button id="checkSimpleCoordinates" class="ui-button ui-widget ui-corner-all">Check Coordinates</button>
        </div>

        <div class="formSegmentsMargin">
            <label for="city">Nearby City</label>
            <select id="city" name="nearbyCity">
                <option value=""></option>
                <option value="sofia">Sofia</option>
                <option value="varna">Varna</option>
                <option value="starazagora">Stara Zagora</option>
                <option value="chirpan">Chirpan</option>
                <option value="chirpan">Kozlodui</option>
                <option value="chirpan">Lyaskovets</option>
            </select>
        </div>

        <div>
            <label for="names">Reporter Name</label>
            <input type="text" id="names" name="reporterName" placeholder="Your name..">
        </div>

        <div>
            <label for="phone">Reporter Phone</label>
            <input type="text" id="phone" name="reporterContact" placeholder="Your phone..">
        </div>

        <input type="submit" value="Submit" name="submitBtn" class="ui-button ui-widget ui-corner-all">
    </form>


    <div id="reportLandslidemap" class="reportMap">

    </div>
</div>